
@import url('//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css');
@import './utils/styles/fonts.scss';

* {
  margin: 0;
  padding: 0;
}


$icon-coin-tiny-url: './utils/images/coin-tiny.png';
$icon-coin-url: './utils/images/coin.png';
.coin {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  &::before {
    content: url($icon-coin-tiny-url);
  }
}

.coin-big {
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: text-top;
  &::before {
    content: url($icon-coin-url);
  }
}

